extends layout

block content
  h1(class='ui header center aligned') You're lost, can I offer you this cat instead? 
  img(class="ui centered large bordered image" src="/public/images/catError.jpg")
  h3(class="ui header center aligned") Possible Causes
  div(class="ui bulleted list center aligned")
    div(class="item") Recheck the url?
    div(class="item") Maybe I pushed something I shouldn't have...
    div(class="item") There was something here, but it's moved on to a better place.
