doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/node/font-awesome/css/font-awesome.min.css')
  body
    div(class="ui sidebar inverted vertical menu center aligned")
        a(class="item center aligned" href="/") #[i(class="fa fa-home")] Home
        div(class="item center aligned") #[i(class="fa fa-pencil")] Posts
          div(class="menu")
            a(class="item center aligned" href="/posts")  Gallery
            a(class="item center aligned" href="/posts/create") Create
            a(class="item center aligned" href="/post/latest")  Most Recent
    #app(class="dimmed pusher")
      app-header
      block content
    script(src="/javascripts/bundle.js")
    script(src="/node/jquery/dist/jquery.min.js")
    script(src="/assets/semantic/dist/semantic.min.js")

