doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/assets/semantic/dist/semantic.min.css')
    link(rel='stylesheet', href='/node/font-awesome/css/font-awesome.min.css')
  body
    div(class="ui sidebar inverted vertical menu")
        a(class="item" href="/") Home
        a(class="item" href="/posts") Posts
    #app(class="dimmed pusher")
      app-header
      block content
    script(src="/javascripts/bundle.js")
    script(src="/node/jquery/dist/jquery.min.js")
    script(src="/assets/semantic/dist/semantic.min.js")

