@import url('https://fonts.googleapis.com/css?family=PT+Mono|PT+Serif');
$headerFont: 'Arvo', serif;
$mainFont: 'VT323', monospace;
$primaryBackgroundColor: #bdc3c7;
$secondaryBackgroundColor: black;
$tertiaryBackgroundColor:  #633974;
$quartenaryBackgroundColor: white;
$primaryFontColor: white;
$secondaryFontColor: #12cc08;
$glow:  4px 1px 3px #1fad04;

@keyframes glow {
  0% {}
  to {
    text-shadow: $glow;
  }
}
.ui{
  .header{
    color:$primaryFontColor !important;
  }
  .segment{
    background: $secondaryBackgroundColor;
    color: $secondaryFontColor;
  }
}

#app{
  background-color: $primaryBackgroundColor;
}
a {
  color: #00B7FF;
}

#page-header{
  background-color: $tertiaryBackgroundColor !important;
  color: $primaryFontColor !important;
  font-family: $headerFont;
}

#post-segment{
  margin-left: 5em;
  margin-right: 5em;
  font-family: $mainFont;
  color: $secondaryFontColor;
  background: $secondaryBackgroundColor;
  div{
    animation: 2s linear glow;
    animation-iteration-count: infinite;
    animation-direction: alternate;
  }
  
}